.CardCointainer{
    border: 1px solid black;
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.Card{
    position: relative;
    height: 25vh;
    width: 17vw;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.Card_Title{
    font-size: 17px;
    font-weight: 600;
}

.Card_Notes{
    font-size: 15px;
}

.DeleteIcon{
    position: absolute;
right: 20px;
bottom: 20px;
color: red;
}

@media only screen and (max-width: 460px) {
   .CardCointainer{
    padding: 10px 0px;
    border:none;
    
    
   }
    .Card{
        width: 70vw;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }
   

   }